body {
    background: black;
    min-height: 100vh;
}

.form-group-field {
    position: relative;
    padding-left: 40px;
    margin-top: 80px;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.form_field {
    border-width: 3px;
    padding-bottom: 6px;
    background: transparent;
    color: white;
    transition: border-color 0.2s;
    border-style: none;
    border-bottom: 2px solid grey;
    font-size: medium;
}

.selectInp {
    padding: 4px;
    margin-left: 70px;
}

.form_label {
    top: 0;
    font-size: 1rem;
    color: grey;
    font-size: 20px;
}

.suggestion-li {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 4px;
}

.img-icon {
    max-width: 50px;
}

.suggestion-li .span-li {
    padding-right: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    align-items: center;
}